<?xml version="1.0" encoding="utf-8" ?>
<ManagerSettings>

  <ServiceAddressForConsole>net.tcp://ws0208:8755/Service</ServiceAddressForConsole>
  <ServiceAddressForExchange>net.tcp://ws0208:8756/Service</ServiceAddressForExchange>

  <QuotationListenPort>5566</QuotationListenPort>

  <ExchangeSystems>
    <ExchangeSystemSetting>
      <Code>WF01</Code>
      <StateServerUrl>http://localhost/iExchangeCollection/iExchange3%20Team/iExchange3/StateServer/Service.asmx</StateServerUrl>
      <DbConnectionString>data source=.;initial catalog=iExchange_V3;user id=sa;password=Omni1234;Connect Timeout=60</DbConnectionString>
    </ExchangeSystemSetting>
  </ExchangeSystems>

</ManagerSettings>