<?xml version="1.0" encoding="utf-8" ?>
<ManagerSettings>

  <ServiceAddressForConsole>net.tcp://ws0212:8755/Service</ServiceAddressForConsole>
  <ServiceAddressForExchange>net.tcp://ws0212:8756/Service</ServiceAddressForExchange>

  <QuotationListenPort>5566</QuotationListenPort>
  <AllowModifyOrderLot>true</AllowModifyOrderLot>
  <IsTaskSchedulerRunNotify>true</IsTaskSchedulerRunNotify>

  <ExchangeSystems>
    <ExchangeSystemSetting>
      <Code>CHUNG</Code>
      <StateServerUrl>http://localhost/iExchangeCollection/iExchange3%20Team/iExchange3/StateServer/Service2.asmx</StateServerUrl>
      <DbConnectionString>data source=(local);initial catalog=iExchange_V3;user id=sa;password=Omni1234;Connect Timeout=60</DbConnectionString>
      <QuotationConnectionString>data source=(local);initial catalog=iExchange_V3_Quotation;user id=sa;password=Omni1234;Connect Timeout=60</QuotationConnectionString>
      <TraceOriginCode></TraceOriginCode>
      <AcceptZeroPrice>false</AcceptZeroPrice>
      <OriginPriceValidTime>1:00:00</OriginPriceValidTime>
      <CacheType>File</CacheType>
      <QuotationFileCacheDirectory>D:\Temp\Quotations\CHUNG</QuotationFileCacheDirectory>
      <CommitFrequency>00:00:05</CommitFrequency>
      <MinIntervalToGetPricesOfHiLo>00:00:01</MinIntervalToGetPricesOfHiLo>
      <ChartCommandTimeout>01:30:00</ChartCommandTimeout>
      <TraceOpenPrice>false</TraceOpenPrice>
    </ExchangeSystemSetting>
    <!--<ExchangeSystemSetting>
      <Code>Test</Code>
      <StateServerUrl>http://ws0208/iExchangeCollection/iExchange3%20Team/iExchange3/StateServer/Service2.asmx</StateServerUrl>
      <DbConnectionString>data source=ws0208;initial catalog=iExchange_V3;user id=sa;password=Omni1234;Connect Timeout=60</DbConnectionString>
      <QuotationConnectionString>data source=ws0208;initial catalog=iExchange_V3_Quotation;user id=sa;password=Omni1234;Connect Timeout=60</QuotationConnectionString>
      <TraceOriginCode></TraceOriginCode>
      <AcceptZeroPrice>false</AcceptZeroPrice>
      <OriginPriceValidTime>1:00:00</OriginPriceValidTime>
      <CacheType>File</CacheType>
      <QuotationFileCacheDirectory>D:\Temp\Quotations\Test</QuotationFileCacheDirectory>
      <CommitFrequency>00:00:05</CommitFrequency>
      <MinIntervalToGetPricesOfHiLo>00:00:01</MinIntervalToGetPricesOfHiLo>
      <ChartCommandTimeout>01:30:00</ChartCommandTimeout>
      <TraceOpenPrice>false</TraceOpenPrice>
    </ExchangeSystemSetting>-->
  </ExchangeSystems>

</ManagerSettings>