<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="QuotationExporterGroup" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" >
      <section name="QuotationExporterSection" type="ManagerService.QuotationExchange.ExporterConfig, ManagerService" />
    </sectionGroup>
  </configSections>

  <QuotationExporterGroup>
    <QuotationExporterSection Host="edward-pc" Port="8080" QuotePolicyCode="6"
                              Instruments="AUDUSD|GBPUSD"
                              CacheFilePath="D:\Products\iExchange\QuotationServer\QuotationExporter" />
  </QuotationExporterGroup>

</configuration>