<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UpdateServicePort" value="443"/>
    <add key="DefaultServicePort" value="8755"/>
    <add key="Servers" value="ws0212:8755;ws0206;ws0208:8755"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="Logger" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="eventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="ManagerConsole" traceOutputOptions="DateTime,ThreadId"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="Information"/>
    </switches>
    <trace autoflush="true"/>
  </system.diagnostics>
</configuration>